section#slider {
    width: 100%;
}

section#slider span.nowrap {
    white-space: nowrap;
}

section#slider .slider-wrapper {
    padding: 0;
}

section#slider .scroll-wrapper {
    width: 100%;
    overflow-x: hidden;
}

section#slider ul {
    padding: 0;
    width: max-content;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

section#slider li.slider {
    display: inline-block;
    position: relative;
    max-width: 1200px;
    max-height: 750px;
    object-fit: cover;
    padding: 0px 50px 50px 0px ;
    overflow: hidden;
}

section#slider li.slider img {
    margin: 10px 10px 0 0;
    display: block;
    height: auto;
    max-width: 100%;
}

section#slider span.slider-name, span.slider-title {
    display: block;
    position: absolute;
    color: #fff;
    left: 4vw;
}

section#slider span.slider-name {
    font-weight: 900;
    bottom: 4vw;
    font-size: 1.5vw;
}

section#slider span.slider-title {
    font-weight: 100;
    bottom: 2.5vw;
    font-size: 1.3vw;
}

section#slider .more-slider {
    padding: 1vh 5% 0;
    position: relative;
}

section#slider .slide-controls {
    color: rgba(255, 255, 255, .9);
}

section#slider .slide-controls span.slider-previous {
    position: absolute;
    left: 7vw;
    top: 42vh;
    z-index: 1;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    padding: 12px 18px;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2); 
}

section#slider .slide-controls span.slider-next {
    position: absolute;
    right: 7vw;
    top: 42vh;
    z-index: 1;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    padding: 12px 19px;
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2); 
}

section#slider .slide-controls i {
    font-size: 26px;
}

/*** Media Queries ***/
@media (max-width: 991.98px) { 
    section#slider .scroll-wrapper {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

    section#slider li.slider {
        width: 85vw;
    }
	
	section#slider span.slider-title {
        bottom: 14vw;
        font-size: 3.3vw;
    }

    section#slider span.slider-name {
        bottom: 18vw;
        font-size: 3.5vw;
    }

    section#slider .slide-controls {
        display: none;
    }
}