/*
 *Author: Anjali;
 *Theme: Pinkdom ;
 *Date: 30/01/2019; 
*/


/* Global */
html, body {
    font-size: 16px;
}

body {
    background: #040f8b;
    color: #3b3b3b;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
}

body a {
    color: #a70b85;
    text-decoration: none;
}
body a:hover, a:focus, a:active {
    color: #a70b85;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', serif;
    color: #151515;

}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

h2 {
    font-size: 3.0rem;
    font-weight: 700;
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

h4 {
    font-size: 2rem;
    font-weight: 700;
}

h5 {
    font-size: 1.5rem;
    font-weight: 700;
}

h6 {
    font-size: 1.2rem;
    font-weight: 700;
}

.hero-heading {
    font-size: 5rem;
    color: rgba(255, 255, 255, .9);
    padding: auto;
}

.hero-text {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(255, 255, 255, .9);
    padding: auto;
}

.btn-xl {
    padding: 1.25rem 2.5rem;
    font-size: 1.4rem;
}

.btn-primary {
    color: #fff;
    background-color: rgb(4, 15, 139);
    border-color: #040f8b;
}

.btn-primary:hover,.btn-primary:focus, .btn-primary:active, .btn-primary:focus-within {
    text-decoration: none;
    color: #fff !important;
    background-color: #0718d6 !important;
    border-color: #0718d6 !important;
    outline: none;
}

.btn-dark {
    color: #fff;
    background-color: #a70b85;
    border-color: #a70b85;
}

.btn-dark:hover,.btn-dark:focus, .btn-dark:active, .btn-dark:focus-within {
    color: #fff !important;
    background-color: #d80bac !important;
    border-color: #d80bac !important;
    text-decoration: none;
    outline: none;
}

/* Global End */

/* Homepage Start */
.hero {
    height: 100vh;
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.1))),url(../images/hero-image1.jpg);
    background: linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%),url(../images/hero-image1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero::after {
  content: '';
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(173,0,127,1) 0%, rgba(173,0,127,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(173,0,127,1) 0%,rgba(173,0,127,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(173,0,127,1) 0%,rgba(173,0,127,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad007f', endColorstr='#00ad007f',GradientType=0 ); /* IE6-9 */
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.my-auto {
  position: relative;
  z-index: 2;
}  

.logo {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 100;
}

.logo-image {
    width: 200px;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.service-icon {
    background-color: #f9cff0;
    color: #a70b85;
    height:15rem;
    width: 15rem;
    display: block;
    line-height: 7.5rem;
    font-size: 3.25rem;
}

.far {
    position: relative;
    top: 25%;
}

.callout-home-right {
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.1))),url(../images/home-portfolio-right.jpg);
    background: linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%),url(../images/home-portfolio-right.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 33%;
    height: 866px;
    position: relative;
}

.callout-home-right::before {
    content: '';
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,224,0.54) 68%, rgba(167,11,133,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,224,0.54) 68%,rgba(167,11,133,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,224,0.54) 68%,rgba(167,11,133,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cca70b85',GradientType=1 ); /* IE6-9 */
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.callout-home-right-info {
    position: absolute;
    left: 8%;
    z-index: 1;
    padding-top: 12%;
}

.callout-home-left {
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.1))),url(../images/home-portfolio-.jpg);
    background: linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%),url(../images/home-portfolio-left.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 33%;
    height: 866px;
    position: relative;
}

.callout-home-left::before {
    content: '';
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(167,11,133,0.8) 0%, rgba(0,0,224,0.45) 44%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(167,11,133,0.8) 0%,rgba(0,0,224,0.45) 44%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(167,11,133,0.8) 0%,rgba(0,0,224,0.45) 44%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cca70b85', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.callout-home-left-info {
    position: absolute;
    right: 8%;
    z-index: 1;
    padding-top: 12%;
    text-align: right;
}

h2.callout-home-title {
    font-size: 5.8rem;
    line-height: 100%;
    color: #ffffff;
}

.content-section-callout-home {
    padding-top: 0rem;
    padding-bottom: 7.5rem;
}
/* Homepage End */


/* Media Queries Start */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    h2.callout-home-title {font-size: 3.8rem;line-height: 100%;color: #ffffff;}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

 }

/* Media Queries Start */
