/*
 *Author: Anjali Kushwah;
 *Theme: Shades ;
 *Date: 30/01/2019; 
*/


/* Global */
html, body {
    font-size: 16px;
}

body {
    background: #040f8b;
    color: #3b3b3b;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

body a {
    color: #a70b85;
    text-decoration: none;
}

body a:hover, a:focus, a:active {
    color: #a70b85;
    text-decoration: underline;
}

*:focus {
    outline: 0;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', serif;
    color: #151515;
    line-height: 100%;

}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

h2 {
    font-size: 3.0rem;
    font-weight: 700;
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

h4 {
    font-size: 2rem;
    font-weight: 700;
}

h5 {
    font-size: 1.5rem;
    font-weight: 700;
}

h6 {
    font-size: 1.2rem;
    font-weight: 700;
}

.hero-heading {
    font-size: 5rem;
    color: rgba(255, 255, 255, .9);
    padding: auto;
    line-height: 100%;
}

.hero-text {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    padding: auto;
    line-height: 120%;
}

.btn-xl {
    padding: 1.25rem 2.5rem;
    font-size: 1.4rem;
}

.btn-primary {
    color: #fff;
    background-color: rgb(4, 15, 139);
    border-color: #040f8b;
}

.btn-primary:hover,.btn-primary:focus, .btn-primary:active, .btn-primary:focus-within {
    text-decoration: none;
    color: #fff !important;
    background-color: #0718d6 !important;
    border-color: #0718d6 !important;
    outline: none;
}

.btn-dark {
    color: #fff;
    background-color: #a70b85;
    border-color: #a70b85;
}

.btn-dark:hover,.btn-dark:focus, .btn-dark:active, .btn-dark:focus-within {
    color: #fff !important;
    background-color: #d80bac !important;
    border-color: #d80bac !important;
    text-decoration: none;
    outline: none;
}

.bg-pink {
    background-color: #a70b85;
}

ul {
    padding: 0;
}
/* Global End */

/* Homepage Start */
.hero {
    height: 100vh;
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.1))),url(../images/hero-image1.jpg);
    background: linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%),url(../images/hero-image1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero::after {
  content: '';
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(173,0,127,1) 0%, rgba(173,0,127,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(173,0,127,1) 0%,rgba(173,0,127,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(173,0,127,1) 0%,rgba(173,0,127,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad007f', endColorstr='#00ad007f',GradientType=0 ); /* IE6-9 */
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.my-auto {
  position: relative;
  z-index: 2;
}  

.logo {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 100;
}

.logo-image {
    width: 12rem;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.service-icon {
    background-color: #f9cff0;
    color: #a70b85;
    height:15rem;
    width: 15rem;
    display: block;
    line-height: 7.5rem;
    font-size: 3.25rem;
}

.far {
    position: relative;
    top: 25%;
}

.callout-home-right {
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.1))),url(../images/home-portfolio-right.jpg);
    background: linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%),url(../images/home-portfolio-right.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 33%;
    height: 866px;
    position: relative;
}

.callout-home-right::before {
    content: '';
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,224,0.54) 68%, rgba(167,11,133,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,224,0.54) 68%,rgba(167,11,133,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,224,0.54) 68%,rgba(167,11,133,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cca70b85',GradientType=1 ); /* IE6-9 */
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.callout-home-right-info {
    position: absolute;
    left: 8%;
    z-index: 1;
    padding-top: 12%;
}

.callout-home-left {
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.1))),url(../images/home-portfolio-.jpg);
    background: linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%),url(../images/home-portfolio-left.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 33%;
    height: 866px;
    position: relative;
}

.callout-home-left::before {
    content: '';
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(167,11,133,0.8) 0%, rgba(0,0,224,0.45) 44%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(167,11,133,0.8) 0%,rgba(0,0,224,0.45) 44%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(167,11,133,0.8) 0%,rgba(0,0,224,0.45) 44%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cca70b85', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.callout-home-left-info {
    position: absolute;
    right: 8%;
    z-index: 1;
    padding-top: 12%;
    text-align: right;
}

h2.callout-home-title {
    font-size: 5.8rem;
    color: #ffffff;
}

.content-section-callout-home {
    padding-top: 0rem;
    padding-bottom: 7.5rem;
}
/* Homepage End */

/* Testimonial Start */
figure.testimonial {
    position: relative;
}

figure.testimonial img {
    max-width: 8rem;
    border-radius: 50%;
    margin-bottom: .9rem;
    z-index: 1;
    position: relative;
    box-shadow: 0px 2px 5px rgba(167, 11, 133, .3);
}

figure.testimonial blockquote {
    margin: 0;
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #f9cff0;
    padding: 2rem 2rem 4.5rem 3.2rem;
    font-size: 1rem;
    margin: 0 0 -3.8rem;
    line-height: 120%;
    text-align: left;
}

figure.testimonial .quote-left {
    position: absolute;
    font-size: 1.5rem;
    color: #a70b85;
    z-index: 1;
    top: 20px; 
    left: 20px;
}

figure.testimonial .author h6 {
    line-height: 120%;
}

figure.testimonial .author h6 span {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #3b3b3b;
    font-size: 1.125rem;
    display: block;
}
/* Testimonial End */

/* Styles Start */
.product-card {
    position: relative;
}

.product-card-info {
    position: absolute;
    left: 8%;
    z-index: 2;
    bottom: 5%;
}

.product-card::after {
    content: '';
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,186,0) 64%, rgba(0,0,186,0.33) 79%, rgba(167,11,133,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,186,0) 64%,rgba(0,0,186,0.33) 79%,rgba(167,11,133,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,186,0) 64%,rgba(0,0,186,0.33) 79%,rgba(167,11,133,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000ba', endColorstr='#cca70b85',GradientType=0 ); /* IE6-9 */
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

h2.product-title {
    color: #ffffff;
}

.product-img img {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
}
/* Styles End */

/* Style-Detail Start */
.content-section-store {
    padding-top: 7.5rem;
    padding-bottom: 0rem;
}

.header-inner {
    height: 40vh;
    min-height: 20rem;
    position: relative;
    display: table;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-product-detail {
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.1))),url(../images/header-inner-image1.jpg);
    background: linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%),url(../images/header-inner-image1.jpg);
    background-position: center center;
}

.header-inner::after {
  content: '';
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(173,0,127,1) 0%, rgba(173,0,127,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(173,0,127,1) 0%,rgba(173,0,127,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(173,0,127,1) 0%,rgba(173,0,127,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad007f', endColorstr='#00ad007f',GradientType=0 ); /* IE6-9 */
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.product-card-detail::after {
    content: '';
    height: 100%;
    width: 100%;
    margin-left: -25%;
    background: -moz-linear-gradient(left, rgba(167,11,133,0.8) 0%, rgba(167,11,133,0.79) 1%, rgba(4,15,139,0.24) 41%, rgba(4,15,139,0) 58%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(167,11,133,0.8) 0%,rgba(167,11,133,0.79) 1%,rgba(4,15,139,0.24) 41%,rgba(4,15,139,0) 58%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(167,11,133,0.8) 0%,rgba(167,11,133,0.79) 1%,rgba(4,15,139,0.24) 41%,rgba(4,15,139,0) 58%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cca70b85', endColorstr='#00040f8b',GradientType=1 ); /* IE6-9 */
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.product-detail-img img {
    width: 100%;
    height: 866px;
    margin-left: -25%;
    -o-object-fit: cover;
    object-fit: cover;
}

.product-card-detail {
    position: relative;
}

.product-card-detail-info {
    position: absolute;
    right:12%;
    z-index: 2;
    top: 5%;
}

.stores {
list-style: none;
}

.stores li {
    border-bottom: .1rem solid rgba(255, 255, 255, .3);
    padding: 1rem;
}

.stores a {
    color: #ffffff;
    font-size: 1.2rem;
}

.stores a:hover, a:focus, a:active {
    color: #ffffff;
    text-decoration: none;
}

.stores li:hover {
    background: #a70b85;
    transition: ease .5s;
}

.store-logo {
    width: 5rem;
    height: 5rem;
    background: #ffffff;
    border-radius: .5rem;
    display: flex;
}

.store-logo img {
    max-width: 4rem;
    max-height: 4em;
    padding: .1rem;
    margin: auto;
}

/* Style-Detail End */

/* About Start */
.hero-about {
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.1))),url(../images/header-inner-image2.jpg);
    background: linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%),url(../images/header-inner-image2.jpg);
    background-position: center center;
}
/* About End */

/* Contact Start */
.hero-contact {
    background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.1))),url(../images/header-inner-image3.jpg);
    background: linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%),url(../images/header-inner-image3.jpg);
    background-position: center center;
}
/* Contact End */

/* Footer Start */
.footer-logo {
    width: 12rem;
}

.footer-menu {
    list-style: none;
    padding: 0;
}

.footer-menu a {
    color: rgba(255, 255, 255, .5);
}

.copy-text {
    color: rgba(255, 255, 255, .3);
    font-size: .8rem;
}

.copy-text a {
    color: rgba(255, 255, 255, .3);
}

.line {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 2rem;
}

.right-content {
    text-align: right;
}
/* Footer End */

/* Media Queries Start */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    h2.callout-home-title {font-size: 3.8rem;line-height: 100%;color: #ffffff;}
    .hero-text {font-size: 1.4rem;}
    .hero-heading {font-size: 3.8rem;}
    footer {text-align: center;}
    .right-content {text-align: center;}
    .product-detail-img img {height: 180px;}
    
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

 }
/* Media Queries Start */
